absl-py==0.12.0
alabaster==0.7.12
astunparse==1.6.3
babel==2.10.3
bleach==4.1.0
cachetools==4.2.1
chardet==4.0.0
cycler==0.10.0
cython==0.29.21
decorator==4.4.2
docutils==0.17.1
gast==0.3.3
gensim==4.0.1
google-auth==1.30.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.37.0
h5py==2.10.0
idna==2.10
imagesize==1.4.1
importlib-metadata==4.11.1
jinja2==3.1.2
joblib==1.0.1
keras-preprocessing==1.1.2
keyring==23.5.0
kiwisolver==1.3.1
markdown==3.3.4
markupsafe==2.1.1
matplotlib==3.3.4
networkx==2.5.1
nose==1.3.7
numpy==1.18.5
numpydoc==1.4.0
oauthlib==3.1.0
opt-einsum==3.3.0
packaging==21.3
pandas==1.4.1
patsy==0.5.2
pillow==8.2.0
pkginfo==1.8.2
progressbar==2.5
progressbar33==2.4
protobuf==3.15.8
pyasn1==0.4.8
pyasn1-modules==0.2.8
pygments==2.11.2
pyparsing==2.4.7
python-dateutil==2.8.1
python-easygraph==0.2a39
pytz==2021.3
pywin32-ctypes==0.2.0
readme-renderer==32.0
requests==2.25.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==2.0.0
rsa==4.7.2
scikit-learn==0.24.1
scipy==1.9.0rc1
smart-open==5.0.0
snowballstemmer==2.2.0
sphinx==5.0.2
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
statsmodels==0.13.2
# tensorboard==2.5.0
# tensorboard-data-server==0.6.0
# tensorboard-plugin-wit==1.8.0
# tensorflow==2.3.2
# tensorflow-estimator==2.3.0
termcolor==1.1.0
threadpoolctl==2.1.0
tqdm==4.60.0
twine==3.8.0
urllib3==1.26.4
webencodings==0.5.1
werkzeug==1.0.1
zipp==3.7.0